body{
    height: 100%;
}
.imagen{
    height: 15vw;
    background-color: #C5C6C6;
}
h1{
    font-family: "Open Sans",sans-serif;
    text-align: center;
    font-size: 4.5vw;
    margin: 2vw auto 0 auto;
}
.seccion{

    width: 80vw;
    margin: 1.5vw auto 1.5vw auto;
    font-family: "Open Sans",sans-serif;
    text-align: justify;
    font-size: 1.2vw;
    height: fit-content;
    h2{
        font-family: "Bebas neue", sans-serif;
        font-size: 2vw;
    }
    p{
        font-size: 1vw;
    }
    #primera{
        
        display: flex;
        font-size: 1.5vw;
        width: 100%;
        justify-content: space-between;
        p{
            width: 40%;
        }
        img{
            aspect-ratio: 4/2 ;
            width: 30vw;
        }
    }
}
a{
    color: #1468C5;
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
    color: #163e7a;
}