body {
    height: 100%;
}
.imagen {
    height: 15vw;
    background-color: #c5c6c6;
}
h1 {
    text-align: center;
    margin: 2vw auto 0 auto;
}
.seccion {
    width: 80vw;
    margin: 1.5vw auto 1.5vw auto;
    #primera {
        display: flex;
        width: 100%;
        justify-content: space-between;
        p {
            width: 50%;
        }
        img {
            aspect-ratio: 4/2;
            width: 30vw;
        }
    }
}
a {
    color: #1468c5;
    text-decoration: underline;
}
a:hover {
    cursor: pointer;
    color: #163e7a;
}

@media all and (max-width: 600px) {


    .seccion {
        h2{
            text-align: center;
        }
        #primera {

            p {
                width: 100%;
            }

            img {
                display: none;
            }
        }
    }
}
