<h1>Registro de la actividad</h1>
<components-separador></components-separador>

<div id="registro-actividad">

  <ul>
    <li><p for="data-nombre">Nombre y Apellidos</p></li>
    <input class="form-input" type="text" name="activityRegister" id="data-nombre">

    <li><p for="data-correo">Correo</p></li>
    <input class="form-input" type="email" name="activityRegister" id="data-correo">

    <li><p for="data-telefono">Teléfono</p></li>
    <input class="form-input" type="text" name="activityRegister" id="data-telefono">
  </ul>
</div>
<button class="button_enviar">Enviar</button>
