<h1 id="nombre">{{ usuario.nombre }} {{ usuario.apellidos }}</h1>

<components-separador></components-separador>

<form id="formulario" (ngSubmit)="guardarCambios()">
    <h2><b>Mi Perfil</b></h2>

    <ul>
        <li><p>Fecha de Nacimiento</p></li>
        <input type="text" id="nacimiento" name="nacimiento" [(ngModel)]="usuario.nacimiento" [readonly]="!editando">

        <li><p>País</p></li>
        <input type="text" id="pais" name="pais" [(ngModel)]="usuario.pais" [readonly]="!editando">

        <li><p>Localidad</p></li>
        <input type="text" id="localidad" name="localidad" [(ngModel)]="usuario.localidad" [readonly]="!editando">

        <li><p>Teléfono Móvil</p></li>
        <input type="tel" id="telefono" name="telefono" [(ngModel)]="usuario.telefono" [readonly]="!editando">

        <li><p>DNI</p></li>
        <input type="text" id="dni" name="dni" [(ngModel)]="usuario.dni" [readonly]="!editando">

        <li><p>Correo Electrónico</p></li>
        <input type="email" id="email" name="email" [(ngModel)]="usuario.correo" [readonly]="!editando">

    </ul>

    <button type="button" class="button_formulario" id="editarPerfil" (click)="cambiarModoEdicion()">
      <label>{{ textoBoton }}</label>
    </button>
    <button type="submit" class="button_formulario" *ngIf="editando"><label>Guardar cambios</label></button>
</form>

<app-flecha-subida></app-flecha-subida>
