#formulario {
  margin-block: 6vw;
  border-radius: 20px;
  border: 3px solid #000000;
  width: 30vw;
  padding: 1vw 9vw;
  margin: 10vh auto;
}

#formulario h2{
  text-align: center;
}

#formulario ul{
  margin-left: -10%;
}

#formulario p{
  font-size: 2vw;
}

#formulario input {
  margin: auto;
  border-radius: 10px;
  border: 3px solid #000000;
  width: 30vw;
  padding: 1vw 3vw;
  font-size: 2vw;
}

.button_formulario {
  font-size: 100%;
  margin-left: 20%;
  background-color: white;
  color: #CF9800;
  border-radius: 10px;
  border: 3px solid #CF9800;
  padding: 1vw 4vw;
  font-size: 2vw;
}

/*Validación*/
input.invalid {
  border-color: red;
}

#alerta {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
}

#alerta.rojo {
  background-color: #ffcccc;
  color: #cc0000;
}

#colocar{
  display: flex;
  margin-right: 20vw;
  margin-left: -4vw;
}

#edit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#nombre{
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 4.5vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
