<h1 id="nombre">{{ usuario.nombre }} {{ usuario.apellidos }}</h1>

<components-separador></components-separador>

<form id="formulario" onsubmit="return canSubmit()">
    <h2><b>Mi Perfil</b></h2>

        <ul>
            <li> <p>Fecha de Nacimiento</p> </li>
            <input type="text" id="nacimiento" name="nacimiento" [value]="usuario.nacimiento" readonly>

            <li> <p> País </p></li>
            <input type="text" id="pais" name="pais" [value]="usuario.pais" readonly>

            <li> <p>Localidad</p> </li>
            <input type="text" id="localidad" name="localidad" [value]="usuario.localidad" readonly>

            <li> <p>Teléfono Móvil</p> </li>
            <input type="tel" id="telefono" name="telefono" [value]="usuario.telefono" readonly>

            <li> <p>DNI</p> </li>
            <input type="text" id="dni" name="dni" [value]="usuario.dni" readonly>

            <li> <p>Correo Electrónico</p> </li>
            <input type="email" id="email" name="email" [value]="usuario.correo" readonly>

        </ul>

        <button type="button" id="button_formulario"><label>Editar Perfil</label></button>
</form>

<app-flecha-subida></app-flecha-subida>
