body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1468c5;
  height: 10vw;
  width: 100%;
  display: flex;
  top: 0;
}

.icono_aegee {
  margin: auto;
  img {
    width: 12vw;
    height: auto;
  }
  img:hover {
    cursor: pointer;
  }
}

.lista_header {
  font-family: "Bebas neue", sans-serif;
  font-size: 2vw;
  margin: auto;
  display: flex;

  dt {
    margin-right: 3vw;
  }
  .texto {
    color: white;
    text-decoration: none;
  }
  .texto:hover {
    color: #163e7a;
  }

  .boton_header {
    background-color: white;
    text-decoration: none;
    color: #163e7a;
    border: 0.25vw solid #163e7a;
    border-radius: 0.5vw;
    padding: 0.7vw;
  }
  .boton_header:hover {
    background-color: #c5c6c6;
  }
}

.separator {
  width: 80vw;
  height: 0.2vw;
  border: none;
  background: linear-gradient(
    90deg,
    #c51c13 19%,
    white 19% 20%,
    #a0c514 20% 39%,
    white 39% 40%,
    #931991 40% 59%,
    white 59% 60%,
    #fbba00 60% 79%,
    white 79% 80%,
    #1468c5 80%
  );
}

footer {
  background-color: #434242;
  height: 3vw;
  width: 100%;
  margin-top: auto;
  .elementos_footer {
    justify-content: space-between;
    height: 100%;
    display: flex;
    width: 80vw;
    margin-left: 10.2vw;

    .texto_footer {
      margin: 0.8vw 0 0 0;
      font-family: "Bebas neue", sans-serif;
      font-size: 1.5vw;
      color: white;
    }
    .lista_footer {
      margin: 0;
      height: 100%;
      display: flex;
      img {
        margin-top: 0.5vw;
        opacity: 50%;
        width: 2vw;
        aspect-ratio: 1/1;
      }
    }
  }
}
