<ion-footer class="footer ion-fixed">
  <ion-toolbar>
    <div class="footer-elements">
      <p class="footer-text">Copyright © 2023 AEGEE-Las Palmas. </p>
      <div class="social-icons">
        <a href="https://twitter.com/aegee_laspalmas?lang=es">
          <ion-img src="../../../assets/icons/tw-logo.png" alt=""></ion-img>
        </a>
        <a href="https://www.instagram.com/aegee.laspalmas/?hl=es">
          <ion-img src="../../../assets/icons/ig-logo.png" alt=""></ion-img>
        </a>
        <a href="https://linktr.ee/aegeelaspalmas">
          <ion-img src="../../../assets/icons/LinkTree-logo.png" alt=""></ion-img>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
