ion-header {
  width: 100%;
  height: 10vw;
  display: block;

  * {
    font-family: "Bebas neue", sans-serif;
    font-size: 1.5vw;
  }

  ion-toolbar#header_elements {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 7%;
    --background: #1468c5;

    a {
      width: 100%;
      height: 100%;
    }

    #aegee_logo {
      width: 65%;
      background-color: #1468c5;
    }

    #close {
      aspect-ratio: 1/1;
      height: 60%;
    }

    ion-buttons * {
      margin-right: 1.5vw;
      width: 100%;
      height: 100%;
      padding: 1vw 1vw;
    }

    ion-buttons a {
      color: white;
      text-decoration: none;
    }

    ion-buttons a:hover {
      cursor: pointer;
      color: #163e7a;
    }

    ion-buttons ion-button {
      color: #163e7a;
      background-color: white;
      border: 2px solid #163e7a;
      border-radius: 5px;
      padding: 1vh 1vw;
    }

    ion-buttons ion-button:hover {
      background-color: grey;
      cursor: pointer;
    }
  }

  @media (max-width: 768px) { // Ajustar estilos para pantallas de hasta 768px
    ion-toolbar#header_elements {
      ion-buttons * {
        margin-right: 1%;
        width: 100%;
        padding: 0.5vh 0.5vw;
      }

      ion-buttons ion-button {
        padding: 0.5vh 0.5vw;
      }
    }
  }
}
