<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="">
        <img id="aegee_logo" src="../../../assets/images/logo_aegee_blanco.png" alt="logo_aegee_blanco">
      </a>
    </ion-buttons>

    <ion-buttons slot="end">
      <ng-container *ngIf="getScreenWidth >= 1024">
        <ion-button routerLink="/actividades">Actividades</ion-button>
        <ion-button routerLink="/buddy-program">Buddy program</ion-button>
        <ng-container *ngIf="isLogged">
          <ion-button routerLink="/perfil-usuario">Mi perfil</ion-button>
          <ion-button (click)="cerrarSesion()" routerLink="/">Cerrar sesión</ion-button>
        </ng-container>
        <ng-container *ngIf="!isLogged">
          <ion-button routerLink="/registro">Únete a AEGEE-Las Palmas</ion-button>
          <ion-button routerLink="/inicio-sesion">Accede a tu cuenta</ion-button>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="getScreenWidth < 1024 && getScreenWidth >= 640">
        <ng-container *ngIf="isLogged">
          <ion-button routerLink="/perfil-usuario">Mi perfil</ion-button>
          <ion-button (click)="cerrarSesion()" routerLink="/">Cerrar sesión</ion-button>
        </ng-container>
        <ng-container *ngIf="!isLogged">
          <ion-button routerLink="/registro">Únete a AEGEE-Las Palmas</ion-button>
          <ion-button routerLink="/inicio-sesion">Accede a tu cuenta</ion-button>
        </ng-container>
        <ion-buttons slot="end">
          <ion-button (click)="toggleMenu()">
            <ion-icon name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>

      <ng-container *ngIf="getScreenWidth < 640">
        <ion-buttons slot="end">
          <ion-button (click)="toggleMenu()">
            <ion-icon name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
    </ion-buttons>
    <!-- <nav id="header_elements">
      <a routerLink=""> <img id="aegee_logo" src="../../../assets/images/logo_aegee_blanco.png" alt="logo_aegee_blanco">
      </a>
      <img (click)="toggleMenu()" id="burger_menu" src="{{source}}" alt="menu desplegable">
    </nav> -->

    <!-- <nav class="menu-nav-bar" [class.is-open]="isOpen">
      <div class="elements">
        <a routerLink="/actividades">Actividades</a>
        <a routerLink="/buddy-program">Buddy program</a>
        <a *ngIf="!isLogged" routerLink="/registro">Registrarse</a>
        <a *ngIf="!isLogged" routerLink="/inicio-sesion">Iniciar sesión</a>
        <a *ngIf="isLogged" routerLink="/perfil-usuario">Mi perfil</a>
        <a *ngIf="isLogged" (click)="cerrarSesion()" routerLink="/">Cerrar sesión</a>

      </div>
    </nav> -->
  </ion-toolbar>
</ion-header>
