body {
  top: 0%;
  margin: 0%;
}

header {
  background-color: #1468c5;
  height: 150px;
  display: flex;
}

.icono_aegee{
  margin: auto;
}

.icono_aegee:hover{
  cursor: pointer;
}

.lista_header {
  font-family: "Bebas neue", sans-serif;
  font-size: 170%;
  margin: auto;
  display: flex;
  color: white;

  dt{
    margin-right: 3rem;
  }
  .texto:hover{
    color: #163e7a;
    cursor: pointer;
  }

  .boton_header {
    font-size: 100%;
    font-family: "Bebas neue", sans-serif;
    background-color: white;
    color: #163e7a;
    border-radius: 10px;
    border: 3px solid #163e7a;
    display: inline-block;
    cursor: pointer;
    margin-top: -23%;
    padding: 0.8rem  1rem;
  }
  
  .boton_header:hover {
    background-color: #c5c6c6;
    cursor: pointer;
  }
  .boton_header:hover {
    background-color: #c5c6c6;
    cursor: pointer;
  }
}

.separator {
  width: 90%;
  border: none;
  height: 0.2rem;
  background: linear-gradient(
    90deg,
    #C51C13 19%,
    white 19% 20%,
    #A0C514 20% 39%,
    white 39% 40%,
    #931991 40% 59%,
    white 59% 60%,
    #FBBA00 60% 79%,
    white 79% 80%,
    #1468C5 80%
  );
}