#pregunta, #texto_plano,
#checklist, #desplegable{
    background-color: #D9D9D9;
    
}

#bin{
    width: 1.3vw;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}
#bin_element{
    width: 1.3vw;
}
.contenedor{
    position: relative;
    display: inline-block;
}
.texto_centrado{
    position: absolute;
    top: 37%;
    left: 12%;
    color: black;
}

.contenedor img{
    width: 70%;
}

.conjunto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.menu{
    grid-column: 1;
    grid-row: 0;
    height: 60%;
    border-radius: 5%;
    text-align: center;
    border-width: 5px;
    border-color: black;
    border: solid;
    
}

#menu_elementos, #vista_form{
    background-color: #898889;  
    
    border-radius: 5%;
    border-color: black;
    border-width: 5px;
    border: solid;
}

#menu_elementos h3, p, #vista_form h3{
    color:white;
}

.campos_form{
    grid-column: 2 / span 3;
}

#elementos_form ul{
    text-align: left;
}

#terminado{
    background-color: #898889;
    border-radius: 5%;
    padding: 2%;
    color: white;
}