<div id="banner"></div>
<section id="olvidada">

  <div id="olvidada-container">
    <div id="acciones">
      <p>
        <a routerLink="/inicio-sesion"> Iniciar sesión</a>
      </p>
      <a id="registro" routerLink='/registro'>Registro</a>
    </div>

    <div id="form">

      <form [formGroup]="olvidadaForm" name="olvidadaForm" (ngSubmit)="enviarCodigo(olvidadaForm)" id="olvidada-form">

        <p id="introduce">Introduce tu correo electrónico y se te mandará un código para poder restablecer.</p>
        <div id="fields">

          <input matInput type="email" formControlName="correo" placeholder="Correo eléctronico" class="form-control">
          <div *ngIf="f['correo'].touched && f['correo'].invalid" class="alert">
            <div *ngIf="f['correo'].touched && f['correo'].errors">*Se debe introducir un correo válido.</div>
          </div>
          <div *ngIf="!exists" class="alert">No existe este correo</div>
          <a routerLink="/inicio-sesion" class="olvidada">Volver a inicio de sesión</a>
        </div>
        <input type="submit" value="Enviar" id="boton">
      </form>
    </div>

  </div>
</section>
