::ng-deep footer{
  position: absolute;
  bottom: 0;
}

#banner {
  height: 10vw;
  background-color: lightgrey;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#olvidada {
  height: 50vh;
  width: 40vw;
  border: 2px solid black;
  margin: 5vw auto;
}
#acciones a {
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
}

#olvidada-container {
  background-color: white;
}
#acciones {
  width: 70%;
  height: 4.9vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ng-untouched, .ng-touched {
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  border: 2px solid black;
  border-radius: 0.5vw;
  width: 95%;
  height: 5vh;
  margin: 0;
  padding: 0;
  margin-bottom: 2vw;
  padding: .5vh .5vw;
}

#olvidada-form {
  font-weight: 0;
  width: 80%;
  margin: 3vw auto;
  height: 30vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:none;
}
#olvidada-form .login-field:hover {
  background-color: lightgray;
}
#boton {
  background-color: transparent;
  font-family: "Open sans", sans-serif;
  font-size: 1.2vw;
  border: 2px solid black;
  border-radius: 0.5vw;
  width: 10vw;
  align-self: center;
  padding: 1vh 1vw;
}

#boton:hover {
  cursor: pointer;
  background-color: lightgray;
}
.alert{
  font-family: 'Open sans', sans-serif;
  font-size: 0.8vw;
  color: coral;
  position: absolute;
  margin-top: -1.8vw;

}
.olvidada{
  display: flex;
  text-decoration: none;
  color: darkblue;
  font-size: .8vw;
  text-align: center;
  font-weight: normal;
  width: fit-content;
  margin-top: -3vh;

}

#introduce{
  margin-top: 0;
}

footer[_ngcontent-klx-c50] {
  position: absolute;
  bottom: 0;
}
