h1{
    font-family: "Open sans", sans-serif;
    font-size: 2vw;
    text-align: center;
}

h2 {
    font-size: 3vw;
    margin-left: 2vw;
}

p {
    font-size: 2vw;
    text-align: justify;
    margin-left: 2vw;
    margin-bottom: 2vw;
}

@media only screen and (min-width: 1281px) {
    
    .grupo{
        display: flex;
        width: 85%;
        margin-left: 7%;
        font-family: "Open sans", sans-serif;
    }

    .grupo a{
        margin: auto;
        background-color: lightgrey;
    }

}

@media only screen and (max-width: 1280px){
    
    img{
        display: block;
        margin: auto;
    }

    h2{
        text-align: center;
    }
    
    p{
        margin: 6%;
    }
}

@media screen and (max-width: 600px) {

    img{
        display: none;
    }

    h2{
        text-align: center;
    }

    p{
        margin: 6%;
    }
}