h1{
    font-family: "Open sans", sans-serif;
    font-size: 2rem;
    margin-left: 25rem;
}

h2 {
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

p {
    font-size: 2rem;
    text-align: justify;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

/*
.grupo{
    display: flex;
    width: 85%;
    margin-left: 7%;
    font-family: "Open sans", sans-serif;
}

.grupo a{
    margin: auto;
    background-color: lightgrey;
}

/* Grilla para ordenadores */
.grilla {
    box-sizing: border-box;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 70rem;
    width: 100%;
}

.grilla a{
    margin-top: 6rem;
}

/* Tamaño de pantalla de la table */
@media (max-width: 1280){

    .contenedor{
        grid-column-end: span 2;
    }
    
    .contenedor img{
        margin-left: 30rem;
    }
}

/* Tamaño de pantalla en el movil */
@media (max-width: 601px) {
    .prev, .next, .text {
      font-size: 11px;
    }
}