<ion-content>
  <div id="banner"></div>
  <section id="login">
    <div id="login-container">
      <div id="acciones">
        <p>Iniciar sesión</p>
        <a id="registro" routerLink="/registro">Registro</a>
      </div>

      <div id="form">
        <ion-card>
          <form [formGroup]="loginForm" (ngSubmit)="login()" id="login-form">
            <ion-item>
              <ion-label position="stacked">Correo eléctronico</ion-label>
              <ion-input formControlName="correo" type="email"></ion-input>
            </ion-item>
            <div *ngIf="f.correo.touched && f.correo.invalid" class="alert">
              <div *ngIf="f.correo.errors">*Se debe introducir un correo válido.</div>
            </div>

            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input formControlName="contraseña" type="password"></ion-input>
            </ion-item>
            <div *ngIf="f['contraseña'].touched && f['contraseña'].invalid" class="alert">
              <div *ngIf="!canLogin">Usuario o contraseña incorrectos</div>
              <div *ngIf="f['contraseña'].errors && f['contraseña'].errors['required']">*Se necesita una contraseña.
              </div>
              <div *ngIf="f['contraseña'].errors && f['contraseña'].errors['minlength']">*La contraseña debe tener al
                menos 5 caracteres</div>
            </div>

            <a routerLink="/contrasena-olvidada" class="olvidada">He olvidado mi contraseña</a>
            <ion-button expand="full" type="submit">Acceder</ion-button>
          </form>
        </ion-card>
      </div>
    </div>
  </section>
</ion-content>
