<ion-app>
  <ion-header>
    <ion-toolbar>
      <!-- Aquí puedes colocar el contenido de tu encabezado -->
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>

  <ion-content class="app-content">
    <div *ngIf="isLoading">
      Cargando...
    </div>

    <div *ngIf="isLoading === false">
      <!-- Aquí puedes colocar el contenido de tus páginas -->
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <app-footer></app-footer>
    </ion-toolbar>
  </ion-footer>
</ion-app>
