
<div id="filtro_actividades_grupo">

    <aside class="filtro">
        <a routerLink="/mis-actividades" class="button_misactividades"><label>Mis Actividades</label></a>
        <section class="fila_filtro">
            <article class="celda_fila_filtro">
                <p>Tipo</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> Locales
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> Europeas
                </label>
            </article>

            <article class="celda_fila_filtro">
                <p>Fecha</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> Recientes
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> Antiguas
                </label>
            </article>

            <article class="celda_fila_filtro">
                <p>Usuario</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> Registrado
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> No Registrado
                </label>
            </article>

            <article class="celda_fila_filtro">
                <p>Participantes</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> 0-20
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> 20-40
                </label>
                <label for="radio3">
                    <input type="radio" id="cbox3" name="opcion" value="third_radio"> 40-60
                </label>
            </article>
        </section>
    </aside>

    <section id="grupo_actividades">
        <div id="titulo_1">
            <h1>Actividades Locales</h1>
            <components-separador></components-separador>
        </div>

        <article class="actividad1" *ngFor="let act of actividades">
            <div class="contenedor_actividades" *ngIf="act.tipo == 'Local'" (click)="navegarRegistroActividad()">

                <a > <img src="" alt="" width="200" height="200"></a>
                <div>
                    <h2 id="titulo_actividad">{{act.nombre}}</h2>
                    <p>{{act.descripcion}}
                    </p>
                </div>
            </div>
        </article>
    </section>


    <section id="grupo_actividades" >
        <div id="titulo_1">
            <h1>Actividades Europeas</h1>
            <components-separador></components-separador>
        </div>

        <article class="actividad2" *ngFor="let act of actividades">
          <div class="contenedor_actividades" *ngIf="act.tipo == 'Europea'" (click)="navegarRegistroActividad()" >
              <a > <img src="" alt="" width="200" height="200"></a>
              <div>
                  <h2 id="titulo_actividad">{{act.nombre}}</h2>
                  <p>{{act.descripcion}}
                  </p>
              </div>
          </div>
      </article>


    </section>
</div>

<app-flecha-subida></app-flecha-subida>
