
<div id="filtro_actividades_grupo">

    <aside class="filtro">
        <a routerLink="/mis-actividades" class="button_misactividades"><label>Mis Actividades</label></a>
        <section class="fila_filtro">
            <article class="celda_fila_filtro">
                <p>Tipo</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> Locales
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> Europeas
                </label>
            </article>

            <article class="celda_fila_filtro">
                <p>Fecha</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> Recientes
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> Antiguas
                </label>
            </article>

            <article class="celda_fila_filtro">
                <p>Usuario</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> Registrado
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> No Registrado
                </label>
            </article>

            <article class="celda_fila_filtro">
                <p>Participantes</p>
                <label for="radio1">
                    <input type="radio" id="cbox1" name="opcion" value="first_radio" checked="true"> 0-20
                </label>
                <label for ="radio2">
                    <input type="radio" id="cbox2" name="opcion" value="second_radio"> 20-40
                </label>
                <label for="radio3">
                    <input type="radio" id="cbox3" name="opcion" value="third_radio"> 40-60
                </label>
            </article>
        </section>
    </aside>

    <section id="grupo_actividades">
        <div id="titulo_1">
            <h1>Actividades Locales</h1>
            <components-separador></components-separador>
        </div>
        <article class="actividad">
            <div class="contenedor_actividades">
                <a > <img src="" alt="" width="200" height="200"></a>
                <div>
                    <h2 id="titulo_actividad">Actividad 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </article>

        <article class="actividad">
            <div class="contenedor_actividades">
                <a> <img src="" alt="" width="200" height="200"></a>
                <div>
                    <h2 id="titulo_actividad">Actividad 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                
            </div>
        </article>

        <article class="actividad">
            <div class="contenedor_actividades">
                <a> <img src="" alt="" width="200" height="200"></a>
                <div>
                    <h2 id="titulo_actividad">Actividad 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </article>
    </section>

    <div class="my-container">
        <button type="button" class="button_desplegar">v</button>
    </div>
        
    <section id="grupo_actividades">
        <div id="titulo_1">
            <h1>Actividades Europeas</h1>
            <components-separador></components-separador>
        </div>

        <article class="actividad">
            <div class="contenedor_actividades">
                <a > <img src="" alt="" width="200" height="200"></a>
                <div>
                    <h2 id="titulo_actividad">Actividad 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </article>

        <article class="actividad">
            <div class="contenedor_actividades">
                <a> <img src="" alt="" width="200" height="200"></a>
                <div>
                    <h2 id="titulo_actividad">Actividad 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </article>

        <article class="actividad">
            <div class="contenedor_actividades">
                <a> <img src="" alt="" width="200" height="200"></a>
                <div>
                    <h2 id="titulo_actividad">Actividad 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </article>
    </section>

    <div class="my-container">
        <button type="button" class="button_desplegar">^</button>
    </div>

</div>