body {
    font-family: "Open Sans", sans-serif;
    margin: auto;
    font-size: large;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .grupo_junta {
    display: flex;
    width: 95%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  #imagen_junta {
    margin-left: 10%;
    margin-right: 5%;
  }

  .grupo_junta p {
    width: 80%;
  }

  /* POSICION DE LOS MIEMBROS DE LA JUNTA*/

  .miembros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    transition: max-height 1.5s ease-out;
    overflow: hidden;

  }


  .miembros p {
    text-align: justify;
  }
  .miembros h2 {
    text-align: left;
  }
  .presidente {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
  }

  .texto_presi {
    grid-column: 2 / span 3;
    grid-row: 1;
    margin: auto;
    margin-right: 15%;
  }

  .secretario {
    grid-column: 3;
    grid-row: 2;
    margin: auto;
  }

  .texto_secretario {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin: auto;
    margin-left: 15%;
  }

  .tesorero {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
  }

  .texto_tesorero {
    grid-column: 2 / span 3;
    grid-row: 3;
    margin: auto;
    margin-right: 15%;
  }

  .rrhh {
    grid-column: 3;
    grid-row: 4;
    margin: auto;
  }

  .texto_rrhh {
    grid-column: 1 / span 2;
    grid-row: 4;
    margin: auto;
    margin-left: 15%;
  }

  .diseñador {
    grid-column: 1;
    grid-row: 5;
    margin: auto;
  }

  .texto_diseñador {
    grid-column: 2 / span 3;
    grid-row: 5;
    margin: auto;
    margin-right: 15%;
  }

  .local_activities {
    grid-column: 3;
    grid-row: 6;
    margin: auto;
  }

  .texto_local_activities {
    grid-column: 1 / span 2;
    grid-row: 6;
    margin: auto;
    margin-left: 15%;
  }

  .advisor1 {
    grid-column: 1;
    grid-row: 7;
    margin: auto;

  }

  .texto_advisor1 {
    grid-column: 2 / span 3;
    grid-row: 7;
    margin: auto;
    margin-right: 15%;
  }

  .advisor2 {
    grid-column: 3;
    grid-row: 8;
    margin: auto;
  }

  .texto_advisor2 {
    grid-column: 1 / span 2;
    grid-row: 8;
    margin: auto;
    margin-left: 15%;
  }

  /*-----------------------------*/

  .boton_desplazamiento{
    background-color: #C5C6C6;
    color: #222224;
    text-align: center;
    margin: 0 auto;
    width: 85%;
    display: block;
    font-size: xx-large;
    border-radius: 25px;
    padding-bottom: 1%;
    padding-top: 0.8%;
    position: relative;
    margin-top: 0%;
  }

  .queHacemos {
    margin-top: 5%;
  }

  .contenedor_queHacemos {
    border: 3px solid #931991;
    border-style: dashed;
    border-radius: 30px;
    text-align: center;
    width: 40%;
    padding: 2%;
    padding-bottom: 3%;
    margin: 3% auto;
  }

  .contenedor_queHacemos p {
    text-align: center;
  }

  .boton_actividades {
    border: 3px solid #cf9800;
    border-radius: 25px;
    box-shadow: 0 0 5px #000000;
    color: #cf9800;
    font-size: x-large;
    padding: 10px;
  }

  .boton_buddy_program {
    border: 3px solid #647a16;
    border-radius: 25px;
    box-shadow: 0 0 5px #000000;
    color: #647a16;
    font-size: x-large;
    padding: 10px;
  }

  .boton_voluntariado {
    border: 3px solid #163e7a;
    border-radius: 25px;
    box-shadow: 0 0 5px #000000;
    color: #163e7a;
    font-size: x-large;
    padding: 10px;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  .contacta {
    display: inline-flex;
    margin-right: 5%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .contacta img {
    aspect-ratio: 2/1;
    margin-right: 5%;
    width: 20vw;
  }

  .contacta p {
    margin-right: 20%;
  }
  /* Css del carrusel */
  .imagenCarrusel {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .texto_encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  * {
    box-sizing: border-box;
  }

  .carousel {
    width: 100%;
  }

  .carousel img {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
  }

  .body-carousel button {
    background: none;
    border: none;
  }

  .next-btn, .prev-btn {
    background-color: rgba(255,255,255,0.5);
    color: #1468C5;
    font-size: 30px;
    position: absolute;
    z-index: 100;
    top: 50%;
    border-radius: 50%;
    padding: 0.2em;
  }

  .next-btn {
    right: 0;
  }

  .prev-btn {
    left: 0;
  }

  .next-btn:hover, .prev-btn:hover {
    cursor: pointer;
  }

  :host ::ng-deep .slick-dots li button:before {
    color: #1468C5; /* Cambia aquí el color deseado */
    opacity: 0.5;
    font-size: 15px;
  }

  :host ::ng-deep .slick-dots li.slick-active button:before {
    color: #1468C5; /* Cambia aquí el color deseado */
    opacity: 1;
    font-size: 20px;
  }


  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 601px) {
    .grupo_junta {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .grupo_junta p {
      margin-left: 5%;
    }

    .contacta {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contacta p {
      margin-left: 5%;
    }

    .contenedor_queHacemos {
      width: 50%;
      padding-bottom: 5%;
    }

    .contenedor_queHacemos p,
    .contenedor_queHacemos a {
      font-size: 4vw;
    }
    .miembros img {
      display: none;
    }
    .miembros {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .miembros h2 {
      text-align: center;
    }

    .miembros p {
      text-align: center;
    }
    #contacta{
      display: none;
    }

    .texto_presi {
      margin-right: 0%;
    }
  

  
    .texto_secretario {
      margin-left: 0%;
    }

  
    .texto_tesorero {
      margin-right: 0%;
    }

  
    .texto_rrhh {
      margin-left: 0%;
    }
  
    .texto_diseñador {
      margin-right: 0%;
    }
  
    .texto_local_activities {
      margin-left: 0%;
    }
  
  
    .texto_advisor1 {
      margin-right: 0%;
    }
    .texto_advisor2 {
      margin-left: 0%;
    }

  }
