body{
    height: 100%;
}

.rectangulo{
    height: 20vh;
    background-color: #C5C6C6;
}
.Container{
    font-family: 'Open sans', sans-serif;
    margin: auto;
    margin-top: -8.7vh;
    width: 35vw;
    height: 8.1vh;
    background: white;
    border-top: 5px solid rgb(212, 0, 0);
    display: flex;

    p{
        font-size: 2.4vmin;
        width: 30vw;
        position: absolute; 
        margin-left: 23.5vw;
    }


    .Iniciar_sesion{
        margin-right: 3.5vw;
        text-align: center;
        position: absolute;
        background-color: #EBECEC;
        font-size: 2.4vmin;
        width: 17.5vw;
        position: absolute; 
        height: 8.1vh;
        text-decoration: none;
        color: black;
        p{
            width: fit-content;
            margin-left: 6vw;
        }
    }
}

h1{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 0%;
}

.seccion{
    
    width: 60vw;
    margin: auto;
    margin-top: 5vh;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 5vh;
    img{
        aspect-ratio: 4 /3;
        height: 30vh;
        float: right;
        margin-left: 15%;
        margin-bottom: 3%;
    }
}
form{
    width: 60vw;
    margin: auto;
    text-align: start;
    label{
        font-size: 1.5rem
    }
    select{
        margin-bottom: 5%;
        font-size: 1.5rem;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 12px; 
    }

    .campo{
        margin-bottom: 5%;
        font-size: 1.5rem;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 12px;  
    }
    .boton{
        margin-left: 8vw;
        font-size: x-large;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 10px;
        padding: 1rem 2.5rem;
        cursor: pointer;
        margin-bottom: 5%;
    }
    .eleccion{
        display: flex;
        height: 2vh;
        p{
            margin-top: 0vh;
        }
    }
}