body{
    height: 100%;
}
.rectangulo{
    height: 20vh;
    background-color: #C5C6C6;
}

.Container{
    font-family: 'Open sans', sans-serif;
    margin: auto;
    margin-top: -8.7vh;
    width: 35vw;
    height: 50vh;
    background: white;
    clip-path: polygon(0 0, 48% 0, 48% 17%, 100% 17%, 100% 100%, 0 100%);
    border: 2px solid #000000;
    border-top: 5px solid rgb(212, 0, 0);
    display: flex;
    
    p{
        font-size: 2.4vmin;
        width: 30vw;
        position: absolute; 
        margin-left: 5%;
    }
    .titulo{
        margin-left: 3.5vw;
        width: 10%;
        text-align: center;
        position: absolute;
    }

    .introduce{
        margin-top: 12vh;
        font-size: 2vmin;
        width: 22vw;
        margin-left: 6.5vw;
    }
}


form{
    margin: auto;
    align-items: center;

    .campo{
        margin-left: 18%;
        margin-bottom: 5%;
        font-size: x-large;
        width: 60%;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 12px;  
    }
    .boton{
        margin-left: 7vw;
        font-size: x-large;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 10px;
        padding: 1rem 2.5rem;
        cursor: pointer;
        margin-bottom: 5%;
    }
    .text{
        color: #1468c5;
        font-size: 85%;
        cursor: pointer;
        margin-left: 12vw;
    }
}
.codigo {
    text-align: center;
    margin-left: 11.2vw;
    font-size: x-large;
    width: 11vw;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px black groove;
    letter-spacing: 0.5rem;
}