.rectangulo {
    height: 10vw;
    background-color: #c5c6c6;
}
.Container {
    font-family: "Open sans", sans-serif;
    margin: -4.6vw auto;
    width: 35vw;
    height: 25vw;
    background: white;
    border: 0.2vw solid #000000;
    border-top: 0.3vw solid rgb(212, 0, 0);

    .titulo {
        margin-left: 5vw;
        position: absolute;
        font-size: 1.2vw;
    }

    .introduce {
        margin: 6vw auto -6.5vw 5vw;
        font-size: 1vw;
        width: 25vw;
    }

    .Registro {
        margin-right: 3.5vw;
        position: absolute;
        background-color: #ebecec;
        font-size: 1.2vw;
        width: 17.5vw;
        position: absolute;
        margin-left: 17.5vw;
        height: 4.25vw;
        text-decoration: none;
        color: black;
        p {
            margin-left: 6vw;
        }
    }
    .Registro:hover {
        background-color: #bebebe;
    }
}
form {
    margin: 7vw 0 auto 5vw;
    .campo {
        margin-bottom: 2vw;
        font-size: 1.5vw;
        width: 80%;
        background-color: transparent;
        border: 0.15vw solid black;
        border-radius: 0.8vw;
    }
    .boton {
        font-size: 1.5vw;
        background-color: transparent;
        border: 0.15vw solid black;
        border-radius: 0.8vw;
        padding: 1vw 2.5vw;
        cursor: pointer;
        margin-left: 7vw;
    }
    .boton:hover {
        background-color: #c5c6c6;
    }
    .text {
        margin-left: 6.5vw;
        color: #1468c5;
        font-size: 0.9vw;
        cursor: pointer;
    }
    .text:hover {
        color: #163e7a;
    }
}
.codigo {
    text-align: center;
    margin: auto auto 1vw 6vw;
    font-size: 1.5vw;
    width: 11vw;
    background-color: transparent;
    border: transparent;
    border-bottom: 0.1vw black solid;
    letter-spacing: 0.5vw;
}

footer {
    position: absolute;
    bottom: 0;
}

@media (max-width: 1024px) and (min-width: 641px) {
    .rectangulo {
        height: 15vw;
    }
    .Container {
        width: 70vw;
        height: 50vw;
        margin-top: -7.3vw;
        .titulo {
            font-size: 2.5vw;
            margin: 1.5vw 0 0 10vw;
        }

        .introduce {
            margin: 10vw 0 -12vw 5vw;
            font-size: 2vw;
            width: 60vw;
        }

        .Registro {
            width: 35vw;
            margin-left: 35vw;
            height: 7vw;
            p {
                font-size: 2.5vw;
                margin: 1.5vw 0 0 11vw;
            }
        }
    }
    .codigo {
        text-align: center;
        margin: 10vw auto 5vw 18vw;
        font-size: 2vw;
        width: 20vw;
        letter-spacing: 1.5vw;
    }

    form {
        margin: 12vw 0 0 5vw;

        .campo {
            height: 5vw;
            width: 60vw;
            font-size: 2vw;
            margin-top: 2vw;
        }
        .boton {
            font-size: 2vw;
            margin-left: 23vw;
        }
        .text {
            font-size: 2vw;
            margin-left: 17vw;
        }
    }
}

@media (max-width: 640px) {
    .rectangulo {
        height: 20vw;
    }
    .Container {
        width: 90vw;
        height: 100vw;
        margin-top: -12vw;

        .titulo {
            font-size: 5vw;
            margin: 2vw 0 0 8vw;
        }

        .introduce {
            margin: 15vw 0 -25vw 5vw;
            font-size: 3.5vw;
            width: 80vw;
        }

        .Registro {
            width: 45vw;
            margin-left: 45vw;
            height: 11.7vw;
            p {
                font-size: 5vw;
                margin: 2vw 0 0 10vw;
            }
        }
    }

    .codigo {
        text-align: center;
        margin: 20vw auto 5vw 17.5vw;
        font-size: 5vw;
        width: 40vw;
        letter-spacing: 2.5vw;
    }

    form {
        margin: 12vw 0 0 5vw;
        .campo {
            height: 15vw;
            width: 80vw;
            font-size: 6vw;
            margin-top: 15vw;
        }
        .boton {
            font-size: 5vw;
            margin-left: 28vw;
        }
        .text {
            font-size: 5vw;
            margin-left: 10vw;
        }
    }
}
