<div id="banner"></div>
<section id="login">

  <div id="login-container">
    <div id="acciones">
      <p>Iniciar sesión</p>
      <a id="registro" href="">Registro</a>
    </div>

    <div if="form">
      <form action="" id="login-form">
        <div id="fields">

          <input type="email" formControlName="correo" placeholder="Correo eléctronico" class="login-field">
          <input type="password" formControlName="contraseña" placeholder="Contraseña" class="login-field">
        </div>
        <input type="submit" value="Acceder" id="boton">
      </form>
    </div>

  </div>
</section>
