::ng-deep footer{
  position: absolute;
  bottom: 0;
}


.main{
  margin: 10vh auto;
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  border: 2px solid black;
  border-radius: .5vw;
}

.mensaje{
  margin: 5vh auto 0 auto;
  width: 60%;
}

.navigate{
  margin: 5vh auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.navigate a{
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: .5vw;
  padding: 1.5vh 1vw;
}

#sesion{
  background-color: #4ca0ff;
}
#sesion:hover{
  background-color: #3383df;
}
#inicio{
  background-color: #c44bc2;
}
#inicio:hover{
  background-color: #994396;
}
