<ion-content>
  <ion-form [formGroup]="registroForm">
    <ion-grid>
      <ion-row *ngIf="!paso1Completo">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre y apellidos</ion-label>
            <ion-input formControlName="nombre" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['nombre'].touched && f['nombre'].invalid">
            Se requiere un nombre.
          </ion-text>

          <ion-item>
            <ion-label position="floating">DNI</ion-label>
            <ion-input formControlName="dni" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['dni'].touched && f['dni'].invalid">
            Se requiere un dni.
          </ion-text>

          <ion-item>
            <ion-label>Fecha de nacimiento</ion-label>
            <ion-datetime formControlName="nacimiento" displayFormat="DD/MM/YYYY" required></ion-datetime>
          </ion-item>
          <ion-text color="danger" *ngIf="f['nacimiento'].touched && f['nacimiento'].invalid">
            Se requiere una fecha de nacimiento.
          </ion-text>

          <ion-item>
            <ion-label position="floating">País</ion-label>
            <ion-input formControlName="pais" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['pais'].touched && f['pais'].invalid">
            Se requiere un país.
          </ion-text>

          <ion-item>
            <ion-label position="floating">Localidad</ion-label>
            <ion-input formControlName="localidad" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['localidad'].touched && f['localidad'].invalid">
            Se requiere un localidad.
          </ion-text>

          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="telefono" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['telefono'].touched && f['telefono'].invalid">
            Se requiere un telefono.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="paso1Completo">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="correo" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['correo'].touched && f['correo'].invalid">
            Se requiere un correo válido.
          </ion-text>

          <ion-item>
            <ion-label position="floating">Repetir Correo</ion-label>
            <ion-input class="custom-input" formControlName="repetirCorreo" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['repetirCorreo'].errors?.['emailNoIguales'] && f['repetirCorreo'].touched">
            Los correos deben coincidir.
          </ion-text>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input class="custom-input" formControlName="contrasena" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['contrasena'].touched && f['contrasena'].invalid">
            Se requiere una contraseña válida (6 caracteres o más).
          </ion-text>

          <ion-item>
            <ion-label position="floating">Repetir Contraseña</ion-label>
            <ion-input class="custom-input" formControlName="repetirContrasena" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="f['repetirContrasena'].errors?.['repetirContrasena'] && f['repetirCorreo'].touched">
            Las contraseñas deben coincidir.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button style="margin-bottom: 10%;" class="button-container" expand="block" fill="outline" color="primary"
            (click)="paso1Completo = true" [class.hide-button]="paso1Completo">
            Siguiente
          </ion-button>
          <ion-button expand="block" fill="outline" color="primary"
            (click)="paso1Completo = false" [class.hide-button]="!paso1Completo">
            Anterior
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button style="margin-bottom: 20%;" routerLink="/" expand="block" fill="solid" color="primary" type="submit" [disabled]="!registroForm.valid"
            (click)="enviarRegistro(registroForm)" [class.hide-button]="!paso1Completo" >
            Enviar
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-form>
</ion-content>
