p {
    margin-left: 2vw;
    margin-bottom: 2vw;
}

h2{
    margin-left: 2vw;
}

@media only screen and (min-width: 1281px) {
    .grupo {
        display: flex;
        width: 85%;
        margin-left: 7%;
        font-family: "Open sans", sans-serif;
    }

    .grupo a {
        margin: auto;
        background-color: lightgrey;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 601px) {
    img {
        display: block;
        margin: auto;
    }

    h2 {
        text-align: center;
    }

    p {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .grilla img {
        display: none;
    }
    
    h2 {
        text-align: center;
    }
    
    p {
        width: 80%;
        margin: auto;
    }
}